@import "dark-props.css";
@import "light-props.css";

:root {
  color-scheme: light dark;
}

html,
.dark-palette {
  --background-hsl: var(--dark-background-hsl);
  --surface-hsl: var(--dark-surface-hsl);
  --contrast-hsl: var(--dark-contrast-hsl);
  --primary-hsl: var(--dark-primary-hsl);
  --primary-contrast-hsl: var(--dark-primary-contrast-hsl);
  --primary-text-hsl: var(--dark-primary-text-hsl);
}

.inverted-palette,
.dark-palette .inverted-palette {
  --background-hsl: var(--light-background-hsl);
  --surface-hsl: var(--light-surface-hsl);
  --contrast-hsl: var(--light-contrast-hsl);
  --primary-hsl: var(--light-primary-hsl);
  --primary-contrast-hsl: var(--light-primary-contrast-hsl);
  --primary-text-hsl: var(--light-primary-text-hsl);
}
