:where(html),
:host {
  font-family: var(--font-family);

  /* Set to auto to disable grayscale/antialiased font smoothing (and use default sub-pixel antialiasing) */
  -webkit-font-smoothing: var(--font-smoothing, antialiased);
  -moz-osx-font-smoothing: var(--font-smoothing, grayscale);

  cursor: default;

  /* We assume apps are built with responsive layouting in mind */
  -webkit-text-size-adjust: none;
  text-size-adjust: none;

  accent-color: var(--accent-ui);
}

:where(body) {
  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
}

:where([theme~="light"], [theme~="dark"]) {
  background: var(--background);
  color: var(--color);
}

:where([theme~="light"]) {
  color-scheme: light;
}

:where([theme~="dark"]) {
  color-scheme: dark;
}

@media (prefers-color-scheme: dark) {
  html,
  :host {
    color-scheme: dark;
  }
}

/* Focus outline */

:focus:not(:focus-visible) {
  outline: none;
}

:focus-visible {
  outline: none;
  box-shadow:
    0 0 0 var(--outline-offset, 2px) var(--background),
    0 0 0 calc(var(--outline-width, 2px) + var(--outline-offset, 2px)) var(--outline-color, var(--border-color-accent));
}

/* Safari */
@supports not selector(:focus-visible) {
  :focus {
    outline: none;
    box-shadow:
      0 0 0 var(--outline-offset, 2px) var(--background),
      0 0 0 calc(var(--outline-width, 2px) + var(--outline-offset, 2px)) var(--outline-color, var(--border-color-accent));
  }
}

/* Link/Anchor */

:where(a) {
  color: var(--link-color, var(--color-accent));
}

:where(a:visited) {
  color: var(--link-visited-color, var(--color-accent-high-contrast));
}

/* Text Input, Text Area, Select */

:where(input:not([type=range], [type=radio], [type=checkbox], [type=button], [type=color], [type=file], [type=image], [type=reset], [type=submit]), textarea, select) {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  background: var(--textinput-background, var(--background));
  border: var(--textinput-border, var(--border-ui));
  border-radius: var(--textinput-border-radius, var(--border-radius-m));
  font: var(--textinput-font, var(--font-textinput, inherit));
  color: var(--textinput-color, var(--color));
  padding: var(--textinput-padding, var(--size-8, 0.5rem));
  box-sizing: border-box;
  margin: 0;
  vertical-align: middle;
  transition: border 0.15s;
}

:where(textarea) {
  resize: vertical;
}

@media (any-hover: hover) {
  :where(input:not([type=range], [type=radio], [type=checkbox], [type=button], [type=color], [type=file], [type=image], [type=reset], [type=submit]), textarea, select):where(:not([disabled]):hover) {
    border: var(--textinput-hover-border, var(--textinput-border, var(--border-ui-hover)));
  }
}

:where(input:not([type=range], [type=radio], [type=checkbox], [type=button], [type=color], [type=file], [type=image], [type=reset], [type=submit]), textarea, select):where(:not([disabled]):active) {
  border: var(--textinput-active-border, var(--textinput-border, var(--border-ui-active)));
}

:where(input:not([type=range], [type=radio], [type=checkbox], [type=button], [type=color], [type=file], [type=image], [type=reset], [type=submit]), textarea, select):where(:focus) {
  --outline-offset: -1px;
  border: var(--textinput-focus-border, var(--textinput-border, var(--border-ui-focus)));
  transition: none;
}

:where(input:not([type=range], [type=radio], [type=checkbox], [type=button], [type=color], [type=file], [type=image], [type=reset], [type=submit]), textarea)::placeholder {
  color: var(--textinput-placeholder-color, var(--color-low-contrast));
}

/* TODO invalid fields which have not been edited should not be marked */
/* :where(input:not([type=range], [type=radio], [type=checkbox], [type=button], [type=color], [type=file], [type=image], [type=reset], [type=submit]), textarea, select):invalid {
  border: var(--textinput-invalid-border, 1px solid var(--red-500));
} */

:where(input:not([type=range], [type=radio], [type=checkbox], [type=button], [type=color], [type=file], [type=image], [type=reset], [type=submit]), textarea, select):where([theme~=small]) {
  --textinput-font: var(--font-textinput-small);
  padding: var(--textinput-padding-small, var(--size-6, 0.375rem));
}

/* Select */

:where(select) {
  padding-inline-end: var(--select-padding-inline-end, var(--size-32, 2rem));
  background-image: var(--select-background-image);
  background-repeat: no-repeat;
  background-size: 1.25em;
  background-position: calc(100% - .5em) 55%;
  background-blend-mode: var(--select-background-blend-mode, multiply);
  --select-background-image: var(--icon-chevron-down-gray);
}

@media (prefers-color-scheme: dark) {
  :where(select) {
    --select-background-blend-mode: screen;
  }
}

[theme~=dark] :where(select),
:where(select[theme~=dark]) {
  --select-background-blend-mode: screen;
}

/* Date input */

:where(input[type="date"])::-webkit-calendar-picker-indicator {
  --mask-image: var(--icon-calendar);
  -webkit-mask-image: var(--mask-image);
  mask-image: var(--mask-image);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  background: currentColor;
  width: 1em;
  height: 1em;

}

/* Button */

:where(button) {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  background: var(--button-background, var(--background-ui));
  border: var(--button-border, none);
  border-radius: var(--button-border-radius, var(--border-radius-m));
  color: var(--button-color, var(--color));
  font: var(--button-font, var(--font-button, inherit));
  padding: var(--button-padding, var(--size-8, 0.5rem) var(--size-12, 0.75rem));
  box-sizing: border-box;
  margin: 0;
  vertical-align: middle;
  touch-action: manipulation;
  transition: background-color 0.15s;
}

@media (any-hover: hover) {
  :where(button:not([disabled]):hover) {
    background: var(--button-hover-background, var(--button-background, var(--background-ui-hover)));
    border: var(--button-hover-border, var(--button-border, none));
    color: var(--button-hover-color, var(--button-color, var(--color)));
  }
}

:where(button:not([disabled]):active) {
  background: var(--button-active-background, var(--button-background, var(--background-ui-active)));
  border: var(--button-active-border, var(--button-border, none));
  color: var(--button-active-color, var(--button-color, var(--color)));
  transition: none;
}

:where(button[theme~=primary]) {
  --button-background: var(--button-primary-background, var(--background-accent));
  --button-hover-background: var(--button-primary-hover-background, var(--background-accent-hover));
  --button-active-background: var(--button-primary-active-background, var(--background-accent-active));
  --button-color: var(--button-primary-color, var(--background));
  --button-border: var(--button-primary-border, none);

}

:where(button[theme~=tertiary]) {
  --button-background: var(--button-tertiary-background, transparent);
  --button-color: var(--button-tertiary-color, var(--background-accent));
  --button-hover-color: var(--button-tertiary-hover-color, var(--background-accent-hover));
  --button-active-color: var(--button-tertiary-active-color, var(--background-accent-active));
  --button-border: var(--button-tertiary-border, none);
}

:where(button[theme~=small]) {
  --button-font: var(--font-button-small);
  padding: var(--button-small-padding, var(--size-6, 0.375rem) var(--size-8, 0.5rem));
}

:where(button[disabled]) {
  --button-color: var(--button-disabled-color, var(--color-disabled));
}

:where(button[disabled]:not([theme~=tertiary])) {
  --button-background: var(--button-disabled-background, var(--background-ui));
  --button-border: var(--button-disabled-border, var(--button-border, none));
}

/* Checkbox & Radio Button*/

:where(input[type=checkbox], input[type=radio]) {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  background: var(--optionbox-background, var(--background-ui));
  border: var(--optionbox-border, var(--border-ui));
  color: var(--optionbox-color, var(--color));
  width: var(--optionbox-size, 1rem);
  height: var(--optionbox-size, 1rem);
  font: inherit;
  border-radius: var(--optionbox-border-radius, var(--border-radius-s));
  margin: 0;
  vertical-align: middle;
  flex: none;
  transition: background-color 0.15s;
}

@media (any-hover: hover) {
  :where(input[type=checkbox], input[type=radio]):where(:not([disabled]):hover) {
    background: var(--optionbox-hover-background, var(--background-ui-hover));
    border: var(--optionbox-hover-border, var(--optionbox-border, var(--border-ui-hover)));
    color: var(--optionbox-hover-color, var(--optionbox-color, var(--color)));
  }
}

:where(input[type=checkbox], input[type=radio]):where(:not([disabled]):active) {
  background: var(--optionbox-active-background, var(--background-ui-active));
  border: var(--optionbox-active-border, var(--optionbox-border, var(--border-ui-active)));
  color: var(--optionbox-active-color, var(--optionbox-color, var(--color)));
  transition: none;
}

:where(input[type=checkbox], input[type=radio]):where(:checked) {
  background: var(--optionbox-checked-background, var(--background-accent));
  border: var(--optionbox-checked-border, var(--optionbox-border, 0));
  color: var(--optionbox-checked-color, var(--background));
}

@media (any-hover: hover) {
  :where(input[type=checkbox], input[type=radio]):where(:checked:not([disabled]):hover) {
    background: var(--optionbox-checked-hover-background, var(--background-accent-hover));
    border: var(--optionbox-checked-hover-border, var(--optionbox-checked-border, var(--optionbox-border, 0)));
    color: var(--optionbox-checked-hover-color, var(--optionbox-checked-color, var(--background)));
  }
}

:where(input[type=checkbox], input[type=radio]):where(:checked:not([disabled]):active) {
  background: var(--optionbox-checked-active-background, var(--background-accent-active));
  border: var(--optionbox-checked-active-border, var(--optionbox-checked-border, var(--optionbox-border, 0)));
  color: var(--optionbox-checked-active-color, var(--optionbox-checked-color, var(--background)));
}

:where(input[type=checkbox], input[type=radio]):where(:checked)::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  vertical-align: top;
  background-color: currentColor;
  -webkit-mask-image: var(--mask-image);
  mask-image: var(--mask-image);
  /* Tailwind UI / Heroicons */
  --mask-image: var(--icon-checkmark-small);
}

/* Radio Button */

:where(input[type=radio]) {
  border-radius: 50%;
}

:where(input[type=radio]:checked)::before {
  --mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='currentColor'%3e%3ccircle cx='10' cy='10' r='3'/%3e%3c/svg%3e");
}

/* Field & Field Group */

j-field {
  display: inline-block;
}

j-field-group,
j-field-group j-field {
  display: block;
}

:where(j-field, j-field-group) :where(label) {
  display: block;
  -webkit-tap-highlight-color: transparent;
}

:where(j-field, j-field-group) :where(label) {
  font: var(--font-label);
  margin-bottom: var(--size-6, 0.375rem);
}

:where(j-field:focus-within, j-field-group:focus-within) :where(label) {
  color: var(--color-accent);
}

:where(j-field[type=radio], j-field[type=checkbox]) :where(label) {
  display: initial;
  font: inherit;
  color: inherit;
  vertical-align: middle;
  margin-bottom: 0;
}

:where(j-field[type=radio], j-field[type=checkbox]) :where(input + label) {
  margin-inline-start: var(--size-2, 0.125rem);
}

:where(j-field, j-field-group) :where([description], [validation-message]) {
  font-size: var(--font-size-s, 0.875em);
  margin: var(--size-6, 0.375rem) 0;
  color: var(--color-low-contrast);
}

[required-indicator]::before {
  content: var(--content-required, "*");
  color: var(--color-low-contrast);
  padding: 0 0.25em;
}

j-field-group j-field {
  --content-required: "";
}

/* Icons */

html {
  /* Heroicons */
  --icon-chevron-down: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M19 9l-7 7-7-7' /%3E%3C/svg%3E");
  --icon-chevron-down-gray: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='rgba(122,122,122,1)'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M19 9l-7 7-7-7' /%3E%3C/svg%3E");
  --icon-calendar: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z' /%3E%3C/svg%3E");
  --icon-search: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z' /%3E%3C/svg%3E");
  --icon-checkmark: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 13l4 4L19 7' /%3E%3C/svg%3E");
  --icon-checkmark-small: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='currentColor'%3E%3Cpath fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd' /%3E%3C/svg%3E");
}

:where([class^=icon]) {
  display: inline-block;
  vertical-align: baseline;
  width: var(--icon-size, 1.125em);
  height: var(--icon-size, 1.125em);
  -webkit-mask-image: var(--mask-image);
  mask-image: var(--mask-image);
  background-color: currentColor;
  flex: none;
  margin-top: calc((var(--icon-size, 1.125em) - 1em) * -1.75);
  margin-bottom: calc((var(--icon-size, 1.125em) - 1em) * -1.75);
}

:where(.icon-search) {
  --mask-image: var(--icon-search);
}

:where(.icon-chevron-down) {
  --mask-image: var(--icon-chevron-down);
}

/* Slider */

:where(input[type="range"]) {
  -webkit-appearance: none;
  background: transparent;
  width: calc(var(--size-16, 1rem) * 8);
}

:where(input[type="range"])::-webkit-slider-runnable-track {
  background: var(--slider-track-background, var(--background-ui-hover));
  border-radius: var(--slider-track-border-radius, var(--border-radius-s));
  height: var(--slider-track-size, var(--space-4, 0.25rem));
  transition: background-color 0.15s;
}

:where(input[type="range"])::-moz-range-track {
  background: var(--slider-track-background, var(--background-ui-hover));
  border-radius: var(--slider-track-border-radius, var(--border-radius-s));
  height: var(--slider-track-size, var(--space-4, 0.25rem));
  transition: background-color 0.15s;
}

:where(input[type="range"]):where(:hover)::-webkit-slider-runnable-track {
  background: var(--slider-track-hover-background, var(--background-ui-active));
}

:where(input[type="range"]):where(:hover)::-moz-range-track {
  background: var(--slider-track-hover-background, var(--background-ui-active));
}

:where(input[type="range"])::-webkit-slider-thumb {
  -webkit-appearance: none;
  margin-top: calc((var(--slider-thumb-size, var(--size-16, 1rem)) - var(--slider-track-size, var(--space-4, 0.25rem))) / -2);
  background: var(--slider-thumb-background, var(--background-accent));
  height: var(--slider-thumb-size, var(--size-16, 1rem));
  width: var(--slider-thumb-size, var(--size-16, 1rem));
  border-radius: var(--slider-thumb-border-radius, 50%);
  border: 0;
  transition: background-color 0.15s;
}

:where(input[type="range"])::-moz-range-thumb {
  margin-top: calc((var(--slider-thumb-size, var(--size-16, 1rem)) - var(--slider-track-size, var(--space-4, 0.25rem))) / -2);
  background: var(--slider-thumb-background, var(--background-accent));
  height: var(--slider-thumb-size, var(--size-16, 1rem));
  width: var(--slider-thumb-size, var(--size-16, 1rem));
  border-radius: var(--slider-thumb-border-radius, 50%);
  border: 0;
  transition: background-color 0.15s;
}

:where(input[type="range"])::-webkit-slider-thumb:hover {
  background: var(--slider-thumb-hover-background, var(--background-accent-hover));
}

:where(input[type="range"])::-moz-range-thumb:hover {
  background: var(--slider-thumb-hover-background, var(--background-accent-hover));
}

:where(input[type="range"])::-webkit-slider-thumb:active {
  background: var(--slider-thumb-active-background, var(--background-accent-active));
  transition: none;
}

:where(input[type="range"])::-moz-range-thumb:active {
  background: var(--slider-thumb-active-background, var(--background-accent-active));
  transition: none;
}

:where(input[type="range"]):where(:focus, :focus-visible) {
  box-shadow: none !important;
}

input[type="range"]:focus-visible::-webkit-slider-thumb {
  outline: none;
  box-shadow:
    0 0 0 var(--outline-offset, 2px) var(--background),
    0 0 0 calc(var(--outline-width, 2px) + var(--outline-offset, 2px)) var(--outline-color, var(--border-color-accent));
}

input[type="range"]:focus-visible::-moz-range-thumb {
  outline: none;
  box-shadow:
    0 0 0 var(--outline-offset, 2px) var(--background),
    0 0 0 calc(var(--outline-width, 2px) + var(--outline-offset, 2px)) var(--outline-color, var(--border-color-accent));
}

/* Safari */
@supports not selector(:focus-visible) {
  input[type="range"]:focus::-webkit-slider-thumb {
    outline: none;
    box-shadow:
      0 0 0 var(--outline-offset, 2px) var(--background),
      0 0 0 calc(var(--outline-width, 2px) + var(--outline-offset, 2px)) var(--outline-color, var(--border-color-accent));
  }
}
