:where(html),
:host {
  font-family: var(--font-family);
  -webkit-font-smoothing: var(--font-smoothing, antialiased);
  -moz-osx-font-smoothing: var(--font-smoothing, grayscale);
  cursor: default;
}

:where(body) {
  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
}

:where([theme~="light"], [theme~="dark"]) {
  background: var(--background);
  color: var(--color);
}

/* Focus outline */

:focus:not(:focus-visible) {
  outline: none;
}

:focus-visible {
  outline: none;
  box-shadow:
    0 0 0 var(--focus-outline-offset, 2px) var(--background),
    0 0 0 calc(var(--focus-outline-width, 2px) + var(--focus-outline-offset, 2px)) var(--focus-outline-color, var(--accent-400));
}

/* Safari */
@supports not selector(:focus-visible) {
  :focus {
    outline: none;
    box-shadow:
      0 0 0 var(--focus-outline-offset, 2px) var(--background),
      0 0 0 calc(var(--focus-outline-width, 2px) + var(--focus-outline-offset, 2px)) var(--focus-outline-color, var(--accent-400));
  }
}

/* Link/Anchor */

:where(a) {
  color: var(--link-color, var(--accent-400));
}

:where(a:visited) {
  color: var(--link-visited-color, var(--accent-500));
}

/* Text Input, Text Area, Select */

:where(input:not([type=range], [type=radio], [type=checkbox], [type=button], [type=color], [type=file], [type=image], [type=reset], [type=submit]), textarea, select) {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  background: var(--textinput-background, var(--background));
  border: var(--textinput-border, var(--border-ui));
  border-radius: var(--textinput-border-radius, var(--border-radius-m));
  font: var(--textinput-font, var(--font-textinput, inherit));
  color: var(--textinput-color, var(--color));
  padding: var(--textinput-padding, var(--size-8, 0.5rem));
  box-sizing: border-box;
  margin: 0;
  vertical-align: middle;
  transition: border 0.15s;
}

:where(textarea) {
  resize: vertical;
}

@media (any-hover: hover) {
  :where(input:not([type=range], [type=radio], [type=checkbox], [type=button], [type=color], [type=file], [type=image], [type=reset], [type=submit]), textarea, select):where(:not([disabled]):hover) {
    border: var(--textinput-hover-border, var(--border-ui-hover));
  }
}

:where(input:not([type=range], [type=radio], [type=checkbox], [type=button], [type=color], [type=file], [type=image], [type=reset], [type=submit]), textarea, select):where(:not([disabled]):active) {
  border: var(--textinput-active-border, var(--border-ui-active));
}

:where(input:not([type=range], [type=radio], [type=checkbox], [type=button], [type=color], [type=file], [type=image], [type=reset], [type=submit]), textarea, select):where(:focus) {
  --focus-outline-offset: -1px;
  border: var(--textinput-focus-border, var(--border-ui-focus));
  transition: none;
}

:where(input:not([type=range], [type=radio], [type=checkbox], [type=button], [type=color], [type=file], [type=image], [type=reset], [type=submit]), textarea)::placeholder {
  color: var(--textinput-placeholder-color, var(--color-low-contrast));
}

/* TODO invalid fields which have not been edited should not be marked */
/* :where(input:not([type=range], [type=radio], [type=checkbox], [type=button], [type=color], [type=file], [type=image], [type=reset], [type=submit]), textarea, select):invalid {
  border: var(--textinput-invalid-border, 1px solid var(--red-500));
} */

/* Select */

:where(select) {
  padding-inline-end: var(--select-padding-inline-end, var(--size-32, 2rem));
  background-image: var(--select-background-image);
  background-repeat: no-repeat;
  background-size: 1.25em;
  background-position: calc(100% - .5em) 55%;
  background-blend-mode: var(--select-background-blend-mode, multiply);
  --select-background-image: var(--icon-chevron-down-gray);
}

@media (prefers-color-scheme: dark) {
  :where(select) {
    --select-background-blend-mode: screen;
  }
}

[theme~=dark] :where(select),
:where(select[theme~=dark]) {
  --select-background-blend-mode: screen;
}

/* Date input */

:where(input[type="date"])::-webkit-calendar-picker-indicator {
  --mask-image: var(--icon-calendar);
  -webkit-mask-image: var(--mask-image);
  mask-image: var(--mask-image);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  background: currentColor;
  width: 1em;
  height: 1em;

}

/* Button */

:where(button) {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  background: var(--button-background, var(--background-ui));
  border: var(--button-border, 1px solid transparent);
  border-radius: var(--button-border-radius, var(--border-radius-m));
  color: var(--button-color, var(--color));
  font: var(--button-font, var(--font-button, inherit));
  padding: var(--button-padding, var(--size-8, 0.5rem) var(--size-12, 0.75rem));
  box-sizing: border-box;
  margin: 0;
  vertical-align: middle;
  touch-action: manipulation;
  transition: background-color 0.15s;
}

@media (any-hover: hover) {
  :where(button:not([disabled]):hover) {
    background: var(--button-hover-background, var(--button-background, var(--background-ui-hover)));
    border: var(--button-hover-border, var(--button-border, 1px solid transparent));
    color: var(--button-hover-color, var(--button-color, var(--color-500)));
  }
}

:where(button:not([disabled]):active) {
  background: var(--button-active-background, var(--button-background, var(--background-ui-active)));
  border: var(--button-active-border, var(--button-border, 1px solid transparent));
  color: var(--button-active-color, var(--button-color, var(--color-500)));
  transition: none;
}

:where(button[theme~=primary]) {
  --button-background: var(--button-background-primary, var(--accent-400));
  --button-hover-background: var(--button-hover-background-primary, var(--accent-500));
  --button-active-background: var(--button-active-background-primary, var(--accent-600));
  --button-color: var(--button-color-primary, var(--background));
  --button-border: var(--button-border-primary, 1px solid transparent);

}

:where(button[theme~=tertiary]) {
  --button-background: var(--button-background-tertiary, transparent);
  --button-color: var(--button-color-tertiary, var(--accent-400));
  --button-hover-color: var(--button-hover-color-tertiary, var(--accent-500));
  --button-active-color: var(--button-active-color-tertiary, var(--accent-600));
  --button-border: var(--button-border-tertiary, 1px solid transparent);
  --button-hover-filter: contrast(0.9) brightness(0.9);
  --button-active-filter: contrast(0.9) brightness(0.8);
}

:where(button[theme~=small]) {
  --button-font: var(--font-button-small);
}

:where(button[disabled]) {
  --button-color: var(--button-color-disabled, var(--color-disabled));
}

:where(button[disabled]:not([theme~=tertiary])) {
  --button-background: var(--button-background-disabled, var(--background-ui));
  --button-border: var(--button-border-disabled, 1px solid transparent);
}

/* Checkbox */

:where(input[type=checkbox]) {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  background: var(--checkbox-background, var(--background-ui));
  border: var(--checkbox-border, var(--border-ui));
  color: var(--checkbox-color, var(--color));
  width: var(--checkbox-size, 1rem);
  height: var(--checkbox-size, 1rem);
  font: inherit;
  border-radius: var(--checkbox-border-radius, var(--border-radius-s));
  margin: 0;
  vertical-align: middle;
  flex: none;
  transition: background-color 0.15s;
}

@media (any-hover: hover) {
  :where(input[type=checkbox]:not([disabled]):hover) {
    background: var(--checkbox-hover-background, var(--background-ui-hover));
    border: var(--checkbox-hover-border, var(--checkbox-border, var(--border-ui-hover)));
    color: var(--checkbox-hover-color, var(--color));
  }
}

:where(input[type=checkbox]:not([disabled]):active) {
  background: var(--checkbox-hover-background, var(--background-ui-active));
  border: var(--checkbox-hover-border, var(--checkbox-border, var(--border-ui-active)));
  color: var(--checkbox-active-color, var(--color));
  transition: none;
}

:where(input[type=checkbox]:checked) {
  background: var(--checkbox-checked-background, var(--accent-400));
  border: var(--checkbox-checked-border, 0);
  color: var(--checkbox-checked-color, var(--accent-contrast));
}

:where(input[type=checkbox]:checked)::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  vertical-align: top;
  background-color: currentColor;
  /* Tailwind UI / Heroicons */
  --mask-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='black' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
  -webkit-mask-image: var(--mask-image);
  mask-image: var(--mask-image);
}

/* Radio Button */

:where(input[type=radio]) {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  background: var(--radiobutton-background, var(--background-ui));
  border: var(--radiobutton-border, var(--border-ui));
  color: var(--radiobutton-color, var(--color));
  width: var(--radiobutton-size, 1rem);
  height: var(--radiobutton-size, 1rem);
  font: inherit;
  border-radius: 50%;
  margin: 0;
  vertical-align: middle;
  flex: none;
  transition: background-color 0.15s;
}

@media (any-hover: hover) {
  :where(input[type=radio]:not([disabled]):hover) {
    background: var(--radiobutton-hover-background, var(--background-ui-hover));
    border: var(--radiobutton-hover-border, var(--radiobutton-border, var(--border-ui-hover)));
    color: var(--radiobutton-hover-color, var(--color));
  }
}

:where(input[type=radio]:not([disabled]):active) {
  background: var(--radiobutton-active-background, var(--background-ui-active));
  border: var(--radiobutton-active-border, var(--radiobutton-border, var(--border-ui-active)));
  color: var(--radiobutton-active-color, var(--color));
  transition: none;
}

:where(input[type=radio]:checked) {
  background: var(--radiobutton-checked-background, var(--accent-400));
  border: var(--radiobutton-checked-border, 0);
  color: var(--radiobutton-checked-color, var(--accent-contrast));
}

:where(input[type=radio]:checked)::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  vertical-align: top;
  background-color: currentColor;
  /* Tailwind UI / Heroicons */
  --mask-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='black' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
  -webkit-mask-image: var(--mask-image);
  mask-image: var(--mask-image);
}

/* Field & Field Group */

j-field {
  display: inline-block;
}

j-field-group,
j-field-group j-field {
  display: block;
}

:where(j-field, j-field-group) :where(label) {
  display: block;
  -webkit-tap-highlight-color: transparent;
}

:where(j-field, j-field-group) :where(label) {
  font: var(--font-label);
  margin-bottom: var(--size-6, 0.375rem);
}

:where(j-field:focus-within, j-field-group:focus-within) :where(label) {
  color: var(--accent-400);
}

:where(j-field[type=radio], j-field[type=checkbox]) :where(label) {
  display: initial;
  font: inherit;
  color: inherit;
  vertical-align: middle;
  margin-bottom: 0;
}

:where(j-field[type=radio], j-field[type=checkbox]) :where(input + label) {
  margin-inline-start: var(--size-2, 0.125rem);
}

:where(j-field, j-field-group) :where([description], [validation-message]) {
  font-size: var(--font-size-s, 0.875em);
  margin: var(--size-6, 0.375rem) 0;
}

[required-indicator]::before {
  content: var(--content-required, "*");
  color: var(--color-low-contrast);
  padding: 0 0.25em;
}

j-field-group j-field {
  --content-required: "";
}

/* Icons */

html {
  /* Heroicons */
  --icon-chevron-down: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='currentColor'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M19 9l-7 7-7-7' /%3E%3C/svg%3E");
  --icon-chevron-down-gray: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='rgba(122,122,122,1)'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M19 9l-7 7-7-7' /%3E%3C/svg%3E");
  --icon-calendar: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='currentColor'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z' /%3E%3C/svg%3E");
  --icon-search: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='currentColor'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z' /%3E%3C/svg%3E");
}

:where([class^=icon]) {
  display: inline-block;
  vertical-align: baseline;
  width: var(--icon-size, 1.125em);
  height: var(--icon-size, 1.125em);
  -webkit-mask-image: var(--mask-image);
  mask-image: var(--mask-image);
  background-color: currentColor;
  flex: none;
  margin-top: calc((var(--icon-size, 1.125em) - 1em) * -1.75);
  margin-bottom: calc((var(--icon-size, 1.125em) - 1em) * -1.75);
}

:where(.icon-search) {
  --mask-image: var(--icon-search);
}

:where(.icon-chevron-down) {
  --mask-image: var(--icon-chevron-down);
}
