/* Palette */
html,
:host,
[theme~=light],
:host([theme~=light]) {
  --background-accent: var(--orange-700);
  --background-accent-hover: var(--orange-800);
  --background-accent-active: var(--orange-900);
  --color-accent: var(--orange-700);
  --color-accent-high-contrast: var(--orange-800);
  --color-accent-low-contrast: var(--orange-600);
  --border-color-accent: var(--orange-600);
}

@media (prefers-color-scheme: dark) {
  html,
  :host {
    --background-accent: var(--orange-500);
    --background-accent-hover: var(--orange-400);
    --background-accent-active: var(--orange-300);
    --color-accent: var(--orange-400);
    --color-accent-high-contrast: var(--orange-300);
    --color-accent-low-contrast: var(--orange-500);
    --border-color-accent: var(--orange-400);
  }
}

[theme~=dark],
:host([theme~=dark]) {
  --background-accent: var(--orange-500);
  --background-accent-hover: var(--orange-400);
  --background-accent-active: var(--orange-300);
  --color-accent: var(--orange-400);
  --color-accent-high-contrast: var(--orange-300);
  --color-accent-low-contrast: var(--orange-500);
  --border-color-accent: var(--orange-400);
}
