html,
:host,
[theme~=light],
:host([theme~=light]) {
  color-scheme: light;

  --background-below: var(--gray-50);
  --background: #fff;
  --background-above: #fff;

  --background-ui: var(--gray-100);
  --background-ui-hover: var(--gray-200);
  --background-ui-active: var(--gray-300);

  --color-disabled: var(--gray-400);
  --color-low-contrast: var(--gray-500);
  --color: var(--gray-700);
  --color-high-contrast: var(--gray-900);

  --border-color-subtle: var(--gray-200);
  --border-color: var(--gray-300);
  --border-ui: 1px solid var(--gray-300);
  --border-ui-hover: 1px solid var(--gray-400);
  --border-ui-active: 1px solid var(--gray-400);
  --border-ui-focus: 1px solid var(--accent-400);
  --border-radius-l: 0.5rem;
  --border-radius-m: 0.375rem;
  --border-radius-s: 0.25rem;

  --accent-100: var(--sky-50);
  --accent-200: var(--sky-200);
  --accent-300: var(--sky-300);
  --accent-400: var(--sky-500);
  --accent-500: var(--sky-600);
  --accent-600: var(--sky-700);
  --accent-700: var(--sky-900);
  --accent-contrast: var(--background);
}

@media (prefers-color-scheme: dark) {
  html,
  :host {
    color-scheme: dark;

    --background-below: var(--gray-900);
    --background: var(--gray-800);
    --background-above: var(--gray-700);

    --background-ui: var(--gray-700);
    --background-ui-hover: var(--gray-600);
    --background-ui-active: var(--gray-500);

    --color-disabled: var(--gray-500);
    --color-low-contrast: var(--gray-300);
    --color: var(--gray-100);
    --color-high-contrast: var(--gray-50);

    --border-color-subtle: var(--gray-700);
    --border-color: var(--gray-600);
    --border-ui: 1px solid var(--gray-600);
    --border-ui-hover: 1px solid var(--gray-500);
    --border-ui-active: 1px solid var(--gray-500);
    --border-ui-focus: 1px solid var(--accent-400);

    --accent-100: var(--sky-900);
    --accent-200: var(--sky-700);
    --accent-300: var(--sky-600);
    --accent-400: var(--sky-500);
    --accent-500: var(--sky-300);
    --accent-600: var(--sky-200);
    --accent-700: var(--sky-100);
    --accent-contrast: var(--background-400);
  }
}

[theme~=dark],
:host([theme~=dark]) {
  color-scheme: dark;

  --background-below: var(--gray-900);
  --background: var(--gray-800);
  --background-above: var(--gray-700);

  --background-ui: var(--gray-700);
  --background-ui-hover: var(--gray-600);
  --background-ui-active: var(--gray-500);

  --color-disabled: var(--gray-400);
  --color-low-contrast: var(--gray-200);
  --color: var(--gray-100);
  --color-high-contrast: var(--gray-50);

  --border-color-subtle: var(--gray-600);
  --border-color: var(--gray-500);
  --border-ui: 1px solid var(--gray-600);
  --border-ui-hover: 1px solid var(--gray-500);
  --border-ui-active: 1px solid var(--gray-500);
  --border-ui-focus: 1px solid var(--accent-400);

  --accent-100: var(--sky-900);
  --accent-200: var(--sky-700);
  --accent-300: var(--sky-600);
  --accent-400: var(--sky-500);
  --accent-500: var(--sky-300);
  --accent-600: var(--sky-200);
  --accent-700: var(--sky-100);
  --accent-contrast: var(--background-400);
}
