/* Palette */
html,
:host,
[theme~=light],
:host([theme~=light]) {
  --background-accent: var(--sky-700);
  --background-accent-hover: var(--sky-800);
  --background-accent-active: var(--sky-900);
  --color-accent: var(--sky-700);
  --color-accent-high-contrast: var(--sky-800);
  --color-accent-low-contrast: var(--sky-600);
  --border-color-accent: var(--sky-600);
}

@media (prefers-color-scheme: dark) {
  html,
  :host {
    --background-accent: var(--sky-400);
    --background-accent-hover: var(--sky-300);
    --background-accent-active: var(--sky-200);
    --color-accent: var(--sky-300);
    --color-accent-high-contrast: var(--sky-200);
    --color-accent-low-contrast: var(--sky-400);
    --border-color-accent: var(--sky-400);
  }
}

[theme~=dark],
:host([theme~=dark]) {
  --background-accent: var(--sky-400);
  --background-accent-hover: var(--sky-300);
  --background-accent-active: var(--sky-200);
  --color-accent: var(--sky-300);
  --color-accent-high-contrast: var(--sky-200);
  --color-accent-low-contrast: var(--sky-400);
  --border-color-accent: var(--sky-400);
}
