html,
:host,
[theme],
:host([theme]) {
  /* TODO refactor to bg-h, bg-s, and bg-l */
  --gray-h: 230;
  --gray-s: 10%;
  --gray: hsl(var(--gray-h) var(--gray-s) var(--gray-l));

  --_o: clamp(0%, var(--gray-l) - 50%, 1%); /* 0% for dark palettes, 1% for light palettes */
  --background-surface-opacity-1: calc(25% + 25 * var(--_o));
  --background-surface-opacity-0: calc(50% + 50 * var(--_o));
  /* Always combine these with var(--background-blend-mode-surface) */
  --background-surface-4: var(--gray) linear-gradient(hsl(0 0% 100% / var(--background-surface-opacity-0)), hsl(0 0% 100% / var(--background-surface-opacity-0)));
  --background-surface-4a: hsl(var(--gray-h) var(--gray-s) var(--gray-l) / 0.7) linear-gradient(hsl(0 0% 100% / calc(var(--background-surface-opacity-0) * 0.7)), hsl(0 0% 100% / calc(var(--background-surface-opacity-0) * 0.7)));
  --background-surface-3: var(--gray) linear-gradient(hsl(0 0% 100% / var(--background-surface-opacity-1)), hsl(0 0% 100% / var(--background-surface-opacity-1)));
  --background-surface-3a: hsl(var(--gray-h) var(--gray-s) var(--gray-l) / 0.7) linear-gradient(hsl(0 0% 100% / calc(var(--background-surface-opacity-1) * 0.7)), hsl(0 0% 100% / calc(var(--background-surface-opacity-1) * 0.7)));
  --background-surface-2: var(--gray);
  --background-surface-1: var(--gray) linear-gradient(hsl(0 0% 0% / var(--background-surface-opacity-1)), hsl(0 0% 0% / var(--background-surface-opacity-1)));
  --background-surface-0: var(--gray) linear-gradient(hsl(0 0% 0% / var(--background-surface-opacity-0)), hsl(0 0% 0% / var(--background-surface-opacity-0)));
  --background-blend-mode-surface: soft-light;
  --backdrop-filter-surface: blur(6px);

  --background-ui: hsl(var(--gray-h) var(--gray-s) var(--_l) / 0.05);

  --_d: clamp(-1%, var(--gray-l) - 50%, 1%); /* -1% for dark palettes, 1% for light palettes */
  --_l: calc(50% - (50 * var(--_d))); /* 100% for dark palettes, 0% for light palettes */
  /* TODO refactor to fg-h, fg-s, and fg-l */
  --color-high-contrast: hsl(var(--gray-h) var(--gray-s) var(--_l) / 0.9);
  --color: hsl(var(--gray-h) var(--gray-s) var(--_l) / 0.8);
  --color-low-contrast: hsl(var(--gray-h) var(--gray-s) var(--_l) / 0.62);
  --color-disabled: hsl(var(--gray-h) var(--gray-s) var(--_l) / 0.5);

  --border-color-high-contrast: hsl(var(--gray-h) var(--gray-s) var(--_l) / 0.32);
  --border-color: hsl(var(--gray-h) var(--gray-s) var(--_l) / 0.16);
  --border-color-low-contrast: hsl(var(--gray-h) var(--gray-s) var(--_l) / 0.08);

  --accent-h: 240;
  --accent-s: 80%;
  --accent-color: hsl(var(--accent-h) var(--accent-s) var(--accent-l));

  --filter-active-brightness: calc(90% + clamp(-1%, var(--gray-l) - 50%, 1%) * 5);

  background: var(--gray);
  color: var(--color);
}

html,
:host,
[theme~=light],
:host([theme~=light]) {
  color-scheme: light;
  --gray-l: 96%; /* Values between 3-16 and 80-98 are feasible */
  --accent-l: 60%;
}

@media (prefers-color-scheme: dark) {
  html,
  :host {
    color-scheme: dark;
    --gray-l: 12%;
    --accent-l: 77%;
  }
}

[theme~=dark],
:host([theme~=dark]) {
  color-scheme: dark;
  --gray-l: 12%;
  --accent-l: 77%;
}

/* Border styles */
html,
:host {
  --border-ui: 1px solid var(--border-color);
  --border-ui-hover: 1px solid var(--border-color-high-contrast);
  --border-ui-active: 1px solid var(--border-color-high-contrast);
  --border-ui-focus: 1px solid var(--border-color-accent);

  --border-radius-l: 0.5rem;
  --border-radius-m: 0.375rem;
  --border-radius-s: 0.25rem;
}

/* Typography */
html,
:host {
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-serif: ui-serif, serif;
  --font-family-monospace: ui-monospace, "Menlo", "Monaco", "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro","Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  --font-family: var(--font-family-sans-serif);

  --font-size-3xl: 2.5rem;
  --font-size-2xl: 2.25rem;
  --font-size-xl: 1.5rem;
  --font-size-l: 1.25rem;
  --font-size-m: 1rem;
  --font-size-s: 0.875rem;
  --font-size-xs: 0.8125rem;
  --font-size-2xs: 0.75rem;

  --font-weight-strongest: 600;
  --font-weight-strong: 500;
  --font-weight: 400;
  --font-weight-weak: 300;
  --font-weight-weakest: 300;

  --line-height-m: 1.5;
  --line-height-s: 1.25;
  --line-height-xs: 1;

  --line-height-m-px: 24px;
  --line-height-s-px: 20px;
  --line-height-xs-px: 16px;

  /* Font presets */

  --font: var(--font-weight) var(--font-size-m)/var(--line-height-m) var(--font-family);
  --font-button: var(--font-weight-strong) var(--font-size-m)/var(--line-height-s-px) var(--font-family);
  --font-button-small: var(--font-weight-strong) var(--font-size-s)/var(--line-height-xs-px) var(--font-family);
  --font-textinput: var(--font-weight) var(--font-size-m)/var(--line-height-s-px) var(--font-family);
  --font-textinput-small: var(--font-weight) var(--font-size-s)/var(--line-height-xs-px) var(--font-family);
  --font-field-label: var(--font-weight-strong) var(--font-size-m)/var(--line-height-s) var(--font-family);
  --font-field-description: var(--font-weight) var(--font-size-s)/var(--line-height-s) var(--font-family);
}

/* Size / space */
html,
:host {
  --size-1: 1px;
  --size-2: 2px;
  --size-4: 4px;
  --size-6: 6px;
  --size-8: 8px;
  --size-12: 12px;
  --size-16: 16px;
  --size-24: 24px;
  --size-28: 28px;
  --size-32: 32px;
  --size-40: 40px;
  --size-48: 48px;
  --size-56: 56px;
  --size-64: 64px;
  --size-96: 96px;
  --size-128: 128px;
}

/* Other */
html,
:host {
  --transition-duration-1: 80ms;
}
