html,
:host {
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-serif:;
  --font-family-monospace: ui-monospace, "Menlo", "Monaco", "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro","Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  --font-family: var(--font-family-sans-serif);

  --font-size-2xs: clamp(0.6875rem, 0.95vw, 0.8125rem);
  --font-size-xs: clamp(0.75rem, 1vw, 0.875rem);
  --font-size-s: clamp(0.875rem, 1.05vw, 1rem);
  --font-size-m: clamp(1rem, 1.125vw, 1.125rem);
  --font-size-l: clamp(1.125rem, 1.4vw, 1.375rem);
  --font-size-xl: clamp(1.375rem, 1.8vw, 1.75rem);
  --font-size-2xl: clamp(1.625rem, 2.4vw, 2.375rem);
  --font-size-3xl: clamp(2rem, 3vw, 3rem);

  --font-weight-weakest: 300;
  --font-weight-weak: 300;
  --font-weight: 400;
  --font-weight-strong: 500;
  --font-weight-strongest: 600;

  --line-height-xs: 1;
  --line-height-s: 1.25;
  --line-height-m: 1.5;

  --line-height-xs-px: 16px;
  --line-height-s-px: 20px;
  --line-height-m-px: 24px;

  /* Set to auto to disable grayscale/antialiased font smoothing (and use default sub-pixel antialiasing) */
  /* --font-smoothing:; */
  -webkit-font-smoothing: var(--font-smoothing, antialiased);
  -moz-osx-font-smoothing: var(--font-smoothing, grayscale);

  /* We assume apps are built with responsive layouting in mind */
  -webkit-text-size-adjust: none;
  text-size-adjust: none;

  /* Font presets */

  --font-button: var(--font-weight-strong) var(--font-size-m)/var(--line-height-s-px) var(--font-family);
  --font-button-small: var(--font-weight-strong) var(--font-size-s)/var(--line-height-xs-px) var(--font-family);
  --font-textinput: var(--font-weight) var(--font-size-m)/var(--line-height-s-px) var(--font-family);
  --font-textinput-small: var(--font-weight) var(--font-size-s)/var(--line-height-xs-px) var(--font-family);
  --font-label: var(--font-weight-strong) var(--font-size-s)/var(--line-height-s) var(--font-family);
}
