@import "typography/props.css";

html {
  font-family: var(--font-family);
  -webkit-font-smoothing: var(--font-smoothing, antialiased);
  -moz-osx-font-smoothing: var(--font-smoothing, grayscale);
}

body {
  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-heading);
  font-weight: var(--font-weight-heading);
  line-height: var(--line-height-xs);
  margin: 0;
  margin-top: 2em;
  letter-spacing: -0.025em;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}

h1, h2 {
  font-weight: var(--font-weight-display);
  letter-spacing: -0.01em;
}

h1 {
  font-size: var(--font-size-xxxl);
  margin-bottom: 0.75em;
}

h2 {
  font-size: var(--font-size-xxl);
  margin-bottom: 0.5em;
}

h3 {
  font-size: var(--font-size-xl);
  margin-bottom: 0.5em;
}

h4 {
  font-size: var(--font-size-l);
  margin-bottom: 0.5em;
}

h5 {
  font-size: var(--font-size-m);
  margin-bottom: 0.25em;
}

h6 {
  font-size: var(--font-size-xs);
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

hr {
  border: 0;
  height: 1px;
  background-color: var(--contrast-10);
  margin: 3rem 0;
}
