:where(j-field, j-field-group),
:where(j-field:not([type=radio]):not([type=checkbox]) label) {
  display: block;
}

:where(j-field, j-field-group) :where([description], [validation-message]) {
  font-size: 0.875em;
}

:where(j-field, j-field-group) :where([validation-message]) {
  color: var(--color-error);
}

[required-indicator]::before {
  content: var(--content-required, "*");
  color: var(--color-low);
  padding: 0 0.25em;
}

j-field-group j-field {
  --content-required: "";
}
