j-drawer {
  background-color: var(--background);
}

@supports (backdrop-filter: blur(1px)) or (-webkit-backdrop-filter: blur(1px)) {
  j-drawer.touch-optimized {
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    background-color: hsla(var(--surface-hsl), 0.3);
  }
}
