h1, h2, h3, h4, h5, h6 {
  font-weight: var(--font-weight-strongest);
  margin: 0;
  margin-top: 2em;
  color: var(--color-high-contrast);
}

:where(h1, h2, h3, h4, h5, h6):first-child {
  margin-top: 0;
}

h1, h2, h3 {
  letter-spacing: -0.0125em;
  line-height: var(--line-height-l);
}

h1 {
  font-size: var(--font-size-3xl);
  margin-bottom: 0.75em;
}

h2 {
  font-size: var(--font-size-2xl);
  margin-bottom: 0.5em;
}

h3 {
  font-size: var(--font-size-xl);
  margin-bottom: 0.5em;
}

h4 {
  font-size: var(--font-size-l);
  line-height: var(--line-height-m);
  margin-bottom: 0.5em;
}

h5 {
  font-size: var(--font-size-m);
  line-height: var(--line-height-s);
  margin-bottom: 0.25em;
}

h6 {
  font-size: var(--font-size-s);
  line-height: var(--line-height-xs);
  margin-bottom: 0;
}

body {
  margin: 0;
}

table-of-contents+p {
  font-size: var(--font-size-l);
  line-height: var(--line-height-l);
}

.main-nav .home {
  color: var(--color-high-contrast);
  font-weight: var(--font-weight-strongest);
  font-size: var(--font-size-l);
  margin-inline-end: auto;
  text-decoration: none;
  padding: var(--space-50) 0.5rem;
  display: flex;
  gap: var(--space-25);
  align-items: center;
  border-radius: var(--border-radius-m);
}

.main-nav .home span {
  border-radius: var(--border-radius-s);
  background: var(--accent);
  color: var(--accent-fg);
  padding: 0 0.5em;
  font-size: var(--font-size-s);
  line-height: var(--line-height-s);
}

.main-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav ul a:any-link {
  color: var(--color);
  padding: 0.25rem 0.5rem;
  display: block;
  border-radius: 0.5em;
  text-decoration: none;
}

.main-nav nav .active>a {
  -webkit-backdrop-filter: invert(0.08) saturate(1.5);
  backdrop-filter: invert(0.08) saturate(1.5);
  color: var(--color-high-contrast);
  width: fit-content;
}

.main-nav ul a:hover,
.main-nav ul a:focus {
  color: var(--color-high-contrast);
  text-decoration: none;
}

.main-nav .has-children {
  margin-top: 1.5rem;
}

.main-nav .has-children>a:any-link {
  font-weight: var(--font-weight-strong);
  color: var(--color-high-contrast);
}

main>h1 span {
  display: block;
  font-size: var(--font-size-m);
  color: var(--color);
}

main>h1::after {
  content: "";
  display: block;
  width: 5rem;
  height: 4px;
  background-color: currentColor;
  margin-top: 1em;
  margin-bottom: 2em;
}

table-of-contents {
  display: block;
  font-size: var(--font-size-xs);
  margin-bottom: 6em;
}

main>footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--font-size-xs);
  color: var(--color);
  border-top: 1px solid var(--border-color);
  margin-top: 5rem;
  padding-top: 2rem;
}

@media (min-width: 70rem) {
  table-of-contents {
    float: right;
    position: -webkit-sticky;
    position: sticky;
    top: 2em;
    box-sizing: border-box;
    overflow: auto;
    align-self: flex-start;
    width: 13rem;
  }

  [dir=rtl] table-of-contents {
    float: left;
  }

  main> :not(table-of-contents) {
    margin-inline-end: 17rem !important;
    direction: inherit !important;
  }
}

table-of-contents h6 {
  font-size: var(--font-size-2xs);
  color: var(--color);
}

table-of-contents>ol {
  list-style: none;
  margin: 1em 0 2em;
  padding-inline-start: 1.5em;
  border-inline-start: 1px solid var(--border-color);
}

table-of-contents>ol ol {
  list-style: none;
  padding-inline-start: 1em;
}

table-of-contents li {
  line-height: 1.2;
  margin: .7em 0;
}

table-of-contents a:any-link {
  color: var(--color);
  text-decoration: none;
}

table-of-contents a:hover {
  color: var(--color-high-contrast);
}

main>footer a:any-link {
  color: inherit;
  text-align: end;
}

main>footer a:hover {
  color: var(--color-high-contrast);
}

blockquote {
  border: 1px solid var(--accent);
  border-inline-start-width: 3px;
  margin: 1.5rem 0;
  padding: 0.25rem 1.5rem 0.1em;
  border-radius: var(--border-radius-l);
}

blockquote :is(h2, h3, h4, h5, h6):first-child {
  margin-top: 1em;
  margin-bottom: 1em;
}

code {
  font-family: var(--font-family-monospace);
  font-size: 0.875em;
  background: var(--background-surface-1);
  background-blend-mode: var(--background-blend-mode-surface);
}

code:not([class*="language"]) {
  border: 1px solid var(--border-color);
  padding: 0.1em 0.3em;
  border-radius: 0.25em;
  margin: 0 0.2em;
  font-weight: 600;
}

render-example {
  border-radius: 0.5em;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid var(--border-color);
  background: var(--background-surface-3);
  background-blend-mode: var(--background-blend-mode-surface);
}
[class^="example-"] {
  margin-bottom: 0;
}

pre[class*="language-"][class*="language-"] {
  background: var(--background-surface-1);
  background-blend-mode: var(--background-blend-mode-surface);
  border: 1px solid var(--border-color);
  border-radius: 0.5em;
}

pre[class*="language-"] code[class*="language-"] {
  background-color: transparent;
  text-shadow: none;
}

[class^="example-"]+pre[class*="language-"] {
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  max-height: 20em;
  border-top: 0;
}

[id]:is(h2, h3) {
  border-radius: 4px;
  margin-inline-start: -4px;
  padding-inline-start: 4px;
}

h2, h3 {
  -webkit-scroll-margin-top: 1em;
  scroll-margin-top: 1em;
}

[id]:target,
[id][target] {
  animation: flash 1s;
  box-shadow: none;
}

@keyframes flash {
  30% {
    background-color: var(--accent);
    color: var(--bg);
  }
}

module-size {
  font-size: var(--font-size-s);
  color: var(--color);
  min-height: 1lh;
  white-space: nowrap;
}

module-size dl {
  margin: 1rem 1rem;
  display: grid;
  grid-template-columns: min-content min-content min-content;
}

module-size dt {
  color: var(--color-high-contrast);
}

module-size dd {
  text-align: end;
}

main>module-size {
  display: block;
  margin-top: -3rem;
}

hr {
  border: 0;
  height: 1px;
  background-color: var(--border-color);
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.main-nav details {
  display: none;
}

.main-nav {
  float: left;
  height: 100svh;
  overflow: auto;
  padding: 1.5rem 1rem;
  width: 15rem;
  max-width: 100%;
  font-size: var(--font-size-s);
  position: sticky;
  top: 0;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: start;
}

[dir=rtl] .main-nav {
  float: right;
}

main {
  display: flow-root;
  max-width: 65rem;
  padding: 5rem 2rem;
  margin: 0 auto;
  box-sizing: border-box;
}

.main-nav nav {
  padding-block: 1rem;
}

@media (max-width: 50rem) {
  .main-nav .home {
    flex: auto;
  }

  .main-nav details {
    display: block;
    float: right;
  }

  .main-nav details summary {
    padding: 0 1rem;
  }

  [dir=rtl] .main-nav {
    float: none;
  }

  [dir=rtl] .main-nav details {
    float: left;
  }

  .main-nav {
    float: none;
    width: auto;
    position: static;
    height: auto;
    padding: 1rem 0.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.25rem;
  }

  .main-nav nav {
    width: 100%;
  }

  .main-nav details:not([open])+nav {
    display: none;
  }

  main {
    padding-left: 1rem;
    padding-right: 1em;
  }
}

.preview+code,
.preview {
  display: inline-block;
  font-family: var(--font-family-monospace);
  font-weight: 500;
  padding: 0;
  color: var(--color);
  font-size: var(--font-size-xs);
  line-height: var(--line-height-s);
  margin: 0;
  margin-bottom: 0.5em;
  background: transparent;
  border: 0;
}

.preview.color span {
  display: inline-flex;
  align-items: center;
  vertical-align: text-top;
  gap: 0.5em;
}

.preview.color span::before {
  content: "";
  display: block;
  width: 1em;
  height: 1em;
  flex: none;
  border-radius: 50%;
  background: var(--value);
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0 1px rgba(255,255,255,0.5);
}

render-props {
  display: flow-root;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius-l);
}

render-props p {
  font-size: var(--font-size-xs);
  color: var(--color);
  padding: 1.25rem 2.5rem 0;
  border-top: 1px solid var(--border-color);
  margin-top: 0;
}

render-props p:first-child {
  border-top: 0;
}

render-props>p>code:first-child {
  color: var(--color-high-contrast);
  font-weight: var(--font-weight-strongest);
  background: transparent !important;
  font-size: inherit;
  margin-inline-start: -1.5rem;
  border: 0;
}

#theme [slot=trigger] span {
  display: none;
}

render-props.color-scale {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(7rem, 1fr));
  padding: 1rem;
  gap: 1rem;
}

render-props.color-scale p {
  border: 0;
  display: inline-flex;
  flex-direction: column;
  margin: 0;
  min-width: max-content;
  padding: 0;
  text-align: center;
}

render-props.color-scale .color.preview {
  order: -1;
  background-color: var(--value);
  padding: 1rem;
  border-radius: var(--border-radius-m);
}

render-props.color-scale .color.preview span::before {
  display: none;
}

render-props.color-scale .color.preview span {
  color: var(--value);
  mix-blend-mode: difference;
}

render-props.color-scale p code {
  white-space: nowrap;
  font-size: var(--font-size-xs);
  margin: 0;
  padding: 0;
  border: 0;
}

#theme button icon[computer] {
  --mask-image: var(--icon-sun);
}

@media (prefers-color-scheme: dark) {
  #theme button icon[computer] {
    --mask-image: var(--icon-moon);
  }
}

#theme [slot=trigger] input {
  display: none;
}

#theme [slot=trigger]::after,
html[theme=light] #theme [slot=trigger] icon[moon],
html[theme=dark] #theme [slot=trigger] icon[sun] {
  display: none;
}

#theme [role=option]::before {
  order: 1;
  margin-inline-start: auto;
}

.sr-only {
  display: block;
  position: absolute !important;
  height: 1px;
  width: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

html[theme] {
  --accent-c: calc(0.25 * var(--vibrancy) / 100);
  --accent-l: calc((1 - var(--accent-c) * 1.1) * var(--vibrancy) / 100);
}

@media (prefers-color-scheme: dark) {
  html:not([theme=light]) {
    --accent-l: calc(1 - var(--accent-c) * var(--vibrancy) / 100 * 2);
  }
}

html[theme=dark] {
  --accent-l: calc(1 - var(--accent-c) * var(--vibrancy) / 100 * 2);
}

#accent-h {
  appearance: none;
  background: linear-gradient(to right, oklch(0.6 0.2 0) 0%, oklch(0.6 0.2 61) 17%, oklch(0.6 0.2 118) 33%, oklch(0.6 0.2 180) 50%, oklch(0.6 0.2 241) 67%, oklch(0.6 0.2 299) 83%, oklch(0.6 0.2 360) 100%);
  border-radius: var(--border-radius-l);
}
