h1, h2, h3, h4, h5, h6 {
  font-weight: var(--font-weight-strongest);
  line-height: var(--line-height-s);
  margin: 0;
  margin-top: 2em;
  color: var(--color-high-contrast);
}

:where(h1, h2, h3, h4, h5, h6):first-child {
  margin-top: 0;
}

h1, h2, h3 {
  letter-spacing: -0.0125em;
}

h1 {
  font-size: var(--font-size-3xl);
  margin-bottom: 0.75em;
}

h2 {
  font-size: var(--font-size-2xl);
  margin-bottom: 0.5em;
}

h3 {
  font-size: var(--font-size-xl);
  margin-bottom: 0.5em;
}

h4 {
  font-size: var(--font-size-l);
  margin-bottom: 0.5em;
}

h5 {
  font-size: var(--font-size-m);
  margin-bottom: 0.25em;
}

h6 {
  font-size: var(--font-size-xs);
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

body {
  margin: 0;
}

table-of-contents + p {
  font-size: var(--font-size-l);
}

.main-nav h1 {
  font-size: var(--font-size-l);
  margin-inline-start: 0.5rem;
  margin-bottom: 0;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.main-nav h1 a:any-link {
  color: inherit;
  text-decoration: none;
}

.main-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav ul a:any-link {
  color: var(--color);
  padding: 0.25rem 0.5rem;
  display: block;
  border-radius: 0.5em;
  text-decoration: none;
}

.main-nav nav .active > a {
  background-color: var(--background-ui);
  color: var(--color-high-contrast);
}

.main-nav ul a:hover,
.main-nav ul a:focus {
  color: var(--color-high-contrast);
  text-decoration: none;
}

.main-nav .has-children {
  margin-top: 1.5rem;
}

.main-nav .has-children > a:any-link {
  font-weight: 600;
  margin-bottom: var(--size-4);
}

main > h1::after {
  content: "";
  display: block;
  width: 5rem;
  height: 4px;
  background-color: currentColor;
  margin-top: 1em;
  margin-bottom: 2em;
}

table-of-contents {
  display: block;
  font-size: var(--font-size-xs);
  margin-bottom: 6em;
}

main > footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--font-size-xs);
  color: var(--color-low-contrast);
  border-top: 1px solid var(--border-color-low-contrast);
  margin-top: 5rem;
  padding-top: 2rem;
}

@media (min-width: 70rem) {
  table-of-contents {
    float: right;
    position: -webkit-sticky;
    position: sticky;
    top: 2em;
    box-sizing: border-box;
    overflow: auto;
    align-self: flex-start;
    width: 13rem;
  }

  [dir=rtl] table-of-contents {
    float: left;
  }

  main > :not(table-of-contents) {
    margin-inline-end: 17rem !important;
    direction: inherit !important;
  }
}

table-of-contents h6 {
  font-size: var(--font-size-2xs);
  color: var(--color-low-contrast);
}

table-of-contents > ol {
  list-style: none;
  margin: 1em 0 2em;
  padding-inline-start: 1.5em;
  border-inline-start: 2px solid var(--border-color-low-contrast);
}

table-of-contents > ol ol {
  list-style: none;
  padding-inline-start: 1em;
}

table-of-contents li {
  line-height: 1.2;
  margin: .7em 0;
}

table-of-contents a:any-link {
  color: var(--color-low-contrast);
  text-decoration: none;
}

table-of-contents a:hover {
  color: var(--color);
}

main > footer a:any-link {
  color: inherit;
  text-align: end;
}

main > footer a:hover {
  color: var(--color-accent);
}

blockquote {
  border: 1px solid var(--border-color-accent);
  border-inline-start-width: 3px;
  margin: 1.5rem 0;
  padding: 0.25rem 1.5rem 0.1em;
  border-radius: var(--border-radius-l);
}

blockquote :is(h2, h3, h4, h5, h6):first-child {
  margin-top: 1em;
  margin-bottom: 1em;
}

code {
  font-family: var(--font-family-monospace);
  font-size: 0.875em;
  background: var(--background-below);
}

code:not([class*="language"]) {
  padding: 0.1em 0.3em;
  border-radius: 0.25em;
  margin: 0 0.2em;
  font-weight: 500;
}

render-example {
  border-radius: 0.5em;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid var(--border-color-low-contrast);
  background-color: var(--background);
}

[class^="example-"] {
  margin-bottom: 0;
}

[class^="example-"] + pre[class*="language-"] {
  margin-top: 0;
  border-radius: 0.5em;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  max-height: 20em;
}

[id]:is(h2, h3) {
  border-radius: 4px;
  margin-inline-start: -4px;
  padding-inline-start: 4px;
}

h2, h3 {
  -webkit-scroll-margin-top: 1em;
  scroll-margin-top: 1em;
}

[id]:target,
[id][target] {
  animation: flash 1s;
}

@keyframes flash {
  30% {
    background-color: var(--color-accent-low-contrast)
  }
}

module-size {
  font-size: var(--font-size-s);
  color: var(--color-low-contrast);
}

module-size dl {
  margin: 1rem 1rem;
}

module-size dt {
  color: var(--color);
}

main > module-size {
  display: block;
  margin-top: -3rem;
}

hr {
  border: 0;
  height: 1px;
  background-color: var(--border-color-low-contrast);
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.main-nav details {
  display: none;
  margin-inline-start: 0.5rem;
}

.main-nav {
  float: left;
  height: 100vh;
  overflow: auto;
  padding: 1.5rem 1rem;
  width: 15rem;
  max-width: 100%;
  font-size: var(--font-size-s);
  position: sticky;
  top: 0;
  box-sizing: border-box;
}

[dir=rtl] .main-nav {
  float: right;
}

main {
  display: flow-root;
  max-width: 65rem;
  padding: 5rem 2rem;
  margin: 0 auto;
  box-sizing: border-box;
}

.main-nav nav {
  padding-top: 1rem;
  padding-bottom: 5rem;
}

@media (max-width: 50rem) {
  .main-nav h1 {
    display: inline-block;
  }

  .main-nav details {
    display: block;
    float: right;
  }

  .main-nav details summary {
    padding: 0 1rem;
  }

  [dir=rtl] .main-nav {
    float: none;
  }

  [dir=rtl] .main-nav details {
    float: left;
  }

  .main-nav {
    float: none;
    width: auto;
    position: static;
    height: auto;
    padding: 1rem 0.5rem;
  }

  .main-nav details:not([open]) + nav {
    display: none;
  }

  main {
    padding-left: 1rem;
    padding-right: 1em;
  }
}

.preview {
  font-family: var(--font-family-monospace);
  color: var(--color-low-contrast);
  font-size: var(--font-size-xs);
}

.preview.color span {
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background: var(--value);
  vertical-align: text-top;
  margin: 0 0.5em;
  position: relative;
}

.preview.color span::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  box-shadow: inset 0 0 0 1px black, 0 0 0 1px white;
  opacity: 0.5;
}

render-props {
  display: flow-root;
}

render-props p {
  color: var(--color-low-contrast);
  padding: 0 1.5rem;
}

render-props > p > code:first-child {
  color: var(--color-high-contrast);
  font-weight: var(--font-weight-strongest);
  background: transparent !important;
  font-size: inherit;
  margin-inline-start: -1.5rem;
}
