h1, h2, h3, h4, h5, h6 {
  font-weight: var(--font-weight-strong);
  line-height: var(--line-height-xs);
  margin: 0;
  margin-top: 2em;
  letter-spacing: -0.025em;
  color: var(--text-heading-color, var(--color-strong));
}

:where(h1, h2, h3, h4, h5, h6):first-child {
  margin-top: 0;
}

h1, h2 {
  font-weight: var(--font-weight-strongest);
  letter-spacing: -0.01em;
}

h1 {
  font-size: var(--font-size-xxxl);
  margin-bottom: 0.75em;
}

h2 {
  font-size: var(--font-size-xxl);
  margin-bottom: 0.5em;
}

h3 {
  font-size: var(--font-size-xl);
  margin-bottom: 0.5em;
}

h4 {
  font-size: var(--font-size-l);
  margin-bottom: 0.5em;
}

h5 {
  font-size: var(--font-size-m);
  margin-bottom: 0.25em;
}

h6 {
  font-size: var(--font-size-xs);
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

body {
  margin: 0;
  background: var(--background);
  color: var(--color);
}

table-of-contents + p {
  font-size: 1.25rem;
}

.main-nav h1 {
  font-size: 1.25rem;
  margin-left: 0.5rem;
}

.main-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav ul a:any-link {
  color: var(--color-weak);
  padding: 0.25rem 0.5rem;
  display: block;
  border-radius: 0.5em;
  text-decoration: none;
}

.main-nav nav .active > a {
  background-color: var(--background-lowest);
}

.main-nav ul a:hover,
.main-nav ul a:focus {
  color: var(--color-strong);
  text-decoration: none;
}

.main-nav .has-children {
  margin-top: 1.5rem;
  color: var(--color-strong);
}

.main-nav .has-children > a:any-link {
  font-weight: 500;
  color: var(--color-strong);
  font-weight: 500;
}

main h1::after {
  content: "";
  display: block;
  width: 5rem;
  height: 4px;
  background-color: currentColor;
  margin-top: 1em;
  margin-bottom: 2em;
}

table-of-contents {
  display: block;
  font-size: 0.8125rem;
  margin-bottom: 6em;
}

main > footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8125rem;
  color: var(--color-weak);
  border-top: 1px solid var(--border-color);
  margin-top: 5rem;
  padding-top: 2rem;
}

@media (min-width: 70rem) {
  table-of-contents {
    float: right;
    position: -webkit-sticky;
    position: sticky;
    top: 2em;
    box-sizing: border-box;
    overflow: auto;
    align-self: flex-start;
    width: 13rem;
  }

  main > :not(table-of-contents) {
    margin-right: 17rem !important;
  }
}

table-of-contents h6 {
  font-size: 0.75rem;
  color: var(--color-weak);
}

table-of-contents > ol {
  list-style: none;
  margin: 1em 0 2em;
  padding-left: 1.5em;
  border-left: 2px solid var(--border-color);
}

table-of-contents > ol ol {
  list-style: none;
  padding-left: 1em;
}

table-of-contents li {
  line-height: 1.2;
  margin: .7em 0;
}

table-of-contents a:any-link {
  color: var(--color-weakest);
  text-decoration: none;
}

table-of-contents a:hover {
  color: var(--color);
}

.github-link {
  display: inline-block;
  padding: 8px;
  margin: 8px;
  color: inherit;
}

.github-link:hover,
.github-link:focus {
  color: var(--accent);
}

blockquote {
  border-left: 3px solid var(--accent);
  background-color: var(--accent-weakest);
  margin: 1.5rem 0;
  padding: 0.25rem 1.5rem 0.1em;
  font-size: 0.875rem;
}

blockquote h6:first-child {
  margin-top: 1em;
}

pre[class*="language"],
code {
  font-family: var(--font-family-monospace);
  font-size: 0.875rem;
  background: var(--background-low) !important;
}

code:not([class*="language"]) {
  padding: 0.1em 0.3em;
  border-radius: 0.25em;
}

render-example {
  display: block;
  border-radius: 0.25em;
  border: 1px solid var(--border-color-weak);
  background-color: var(--background);
  overflow: auto;
  resize: horizontal;
  min-width: 0;
  min-height: 0;
  max-width: 100%;
  box-sizing: border-box;
}

render-example:not(.full) {
  padding: 2rem;
}

render-example.center {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

render-example.resize-both {
  resize: both;
}

render-example.resize-y {
  resize: vertical;
}

[class^="example-"] {
  margin-bottom: 0;
}

[class^="example-"] + pre[class*="language-"] {
  margin-top: 0;
}

[id]:target,
[id][target] {
  animation: flash 1s;
  border-radius: 4px;
  margin-left: -4px;
  padding-left: 4px;
}

@keyframes flash {
  30% {
    background-color: var(--accent-weakest)
  }
}

h2, h3 {
  -webkit-scroll-margin-top: 1em;
  scroll-margin-top: 1em;
}

module-size {
  font-size: 0.875rem;
  color: var(--color-weakest);
}

module-size dl {
  display: grid;
  grid-template-columns: max-content auto;
  margin: 0 1rem;
}

module-size dt {
  grid-column: 1;
}

module-size dd {
  grid-column: 2;
}

hr {
  border: 0;
  height: 1px;
  background-color: var(--border-color);
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.main-nav details {
  display: none;
  margin-left: 0.5rem;
}

.main-nav {
  float: left;
  height: 100vh;
  overflow: auto;
  padding: 1.5rem 1rem;
  width: 15rem;
  max-width: 100%;
  font-size: 0.875rem;
  background-color: var(--background-low);
  position: sticky;
  top: 0;
  box-sizing: border-box;
}

main {
  display: flow-root;
  max-width: 65rem;
  padding: 5rem 2rem;
  margin: 0 auto;
  box-sizing: border-box;
}

.main-nav nav {
  padding-bottom: 5rem;
}

@media (max-width: 50rem) {
  .main-nav h1 {
    display: inline-block;
  }

  .main-nav details {
    display: block;
    float: right;
  }

  .main-nav {
    float: none;
    width: auto;
    position: static;
    height: auto;
  }

  .main-nav details:not([open]) + nav {
    display: none;
  }
}
